
@import url("https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap");

nav {
    top: 0.25rem;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    background: radial-gradient(circle, rgb(180, 183, 201, 0.6) 50%, rgb(53, 247, 182, 0.7) 75%);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    backdrop-filter: blur(15px);
}

nav ul li {
    cursor: pointer;
    margin: 0 .25rem;
}

.nav--container {
    display: flex;
    position: relative;
}

.logo--img {
    padding: 0 0;
}

.logo--img a {
    display: flex;
    gap: 0 .25rem;
}

.logo--img a img {
    margin-top: .4rem;
    width: auto;
    height: 3rem;
}

.logo--img a span {
    font-size: 2rem;
    font-weight: 500;
}

.logo--img a .logo--wrapper {
    margin-top: .6rem;
    background-color: transparent;
}

.logo--img a .logo--wrapper svg {
    font-family: "Mrs Saint Delafield", sans-serif;
}

.logo--img a .logo--wrapper svg text {
    animation: stroke 7s infinite alternate;
    stroke-width: 0;
    stroke: #000000;
    font-size: 2rem;
    font-weight: 400;
}

@keyframes stroke {

    0%{
        fill: rgba(255, 255, 255, 0);
        stroke: rgb(1, 8, 19);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 0;
    }

    70%{
        fill: rgba(72,138,204,0);
        stroke: rgb(1, 5, 14);
    }

    80%{
        fill: rgba(72,138,204,0);
        stroke: rgba(54,95,160,1);
        stroke-width: 1;
    }

    100%{
        fill: rgba(72,138,204,1);
        stroke: rgba(54,95,160,0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }

}

.flex--space {
    flex: 1;
}

.menu-items {
    position: relative;
    padding: .5rem .5rem;
    border-radius: 0.3rem;
}

.menu-items a {
    display: block;
    font-size: inherit;
    color: inherit;
}

.menu-items button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

.menu-items a i,
.menu-items button a i {
    font-size: 1.2rem;
}

.menu-items a span,
.menu-items button a span {
    font-size: 1.2rem;
    font-weight: 400;
}

button span {
    margin-left: 3px;
}

.menu-items > a,
.menu-items button {
    text-align: left;
    padding: .5rem 1rem;
}

.menu-items:hover,
.menu-items button:hover {
    background-color: #43cc2057;
}

.arrow::after {
    content: "";
    display: inline-block;
    margin-left: 0.25rem;
    vertical-align: 0.1rem;
    border-top: 0.45rem solid;
    border-right: 0.35rem solid transparent;
    border-left: 0.35rem solid transparent;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    font-size: 1rem;
    z-index: 999;
    min-width: 13.5rem;
    padding: 0.1rem 0;
    border-radius: 0.3rem;
    white-space: nowrap;
    background-color: transparent;
    backdrop-filter: blur(0px);
}

.dropdown {
    display: none;
}

.dropdown.show {
    display: block;
}

.dropdown.show li {
    margin: 0.1rem 0;
    background-image: linear-gradient(120deg, #4ee9b2 0%, #aeddd1 100%);
    backdrop-filter: grayscale(1);
}

.dropdown .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: -0.75rem;
}
