
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Mr+Dafoe&family=Mrs+Saint+Delafield&family=Odibee+Sans&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* declaration of colors variables */
    --font-color: rgb(12, 0, 0);
    --btn-color: rgb(11, 7, 238);

    /* declaration of font-family variables */
    --saint-font-family: 'Mrs Saint Delafield', cursive;

    /* declaration of hover-effect variables */
    --background-hover: rgb(242, 247, 246);

    /* declaration of box-shadow variables */
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
}

/* Header Style */

.header--content {
    text-align: center;
    margin-bottom: 1.6rem;
    border-radius: 7.5rem;
    background-image: radial-gradient(circle farthest-side, #aaffc1, transparent);
}

.header--content h4 {
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: .25rem;
    font-family: var(--saint-font-family);
    background: #FF0000;
    background: -webkit-linear-gradient(to left, #FF0000 0%, #000000 100%);
    background: -moz-linear-gradient(to left, #FF0000 0%, #000000 100%);
    background: linear-gradient(to left, #FF0000 0%, #000000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header--content .line--separator {
    height: .1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: var(--font-color)
}

.header--content .line--first {
    width: 20%;
    margin-top: -1.25rem;
}

.header--content h2 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: -1.5rem;
    letter-spacing: .15rem;
    font-family: 'Playfair Display', serif;
    background: #FF0000;
    background: -webkit-linear-gradient(to left, #FF0000 0%, #000000 100%);
    background: -moz-linear-gradient(to left, #FF0000 0%, #000000 100%);
    background: linear-gradient(to left, #FF0000 0%, #000000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header--content .line--second {
    width: 27.5%;
    margin-top: .25rem;
}

.header--content .category--items {
    display: flex;
    gap: 0rem 1rem;
}

.header--content .category--items h6 {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: .25rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    color: var(--font-color);
    font-family: 'Exo 2', sans-serif;
}

.header--content h6:hover {
    text-decoration: underline;
}

.header--content .category--items .add--border {
    border-right: 2px solid black;
}

.header--content .category--items .first--child--border {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.header--content .category--items .remove--border {
    border-right: none;
}
/*
.header--content .category--items h6:not(:last-child) {
    border-right: 2px solid black;
}
*/

/* Product Card CSS */

.card--container {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-top: -1.6rem;
    padding-bottom: 0.5rem;
    background-image: radial-gradient(circle farthest-side, #aaffc1 5%, transparent);
}

.card--holder {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 1.5rem;
    margin-top: 0.5rem;
}

.flex--space {
    flex: 1;
}

.product--card {
    width: 17.5rem;
    padding: 1.5rem;
    cursor: pointer;
    border-radius: .3rem;
    color: var(--font-color);
    box-shadow: var(--box-shadow);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.product--card:hover {
    background: var(--background-hover);
}

.product--card .card--header,
.product--card .card--body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product--card .card--header .card--title,
.product--card .card--body .item--category {
    max-width: 75%;
}

.product--card .card--body .item--model {
    max-width: 100%;
}

.product--card .card--header .card--title {
    font-size: 1.4rem;
    font-weight: 400;
    background: #FF0000;
    background: -webkit-linear-gradient(to left, #FF0000 0%, #000000 100%);
    background: -moz-linear-gradient(to left, #FF0000 0%, #000000 100%);
    background: linear-gradient(to left, #FF0000 0%, #000000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product--card .card--header .card--percentage {
    width: 3rem;
    height: 3rem;
    padding: .6rem 0;
    border-radius: 50%;
    text-align: center;
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
}

.product--card .card--header .card--percentage {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff;
}

.product--card .card--image img {
    width: 100%;
    height: 15rem;
    border-radius: .5rem;
}

.product--card .card--image,
.product--card .card--body {
    margin-top: .5rem;
}

.product--card .card--body .item--category,
.product--card .card--body .new--price {
    font-size: 1rem;
    font-weight: 400;
}

.product--card .card--body .item--model {
    font-size: 1.2rem;
    font-weight: 400;
}

.product--card .card--footer {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.product--card .card--footer .card--btn {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff;
}

.product--card .card--footer .card--btn {
    padding: .5rem 1rem;
    text-align: center;
    border-radius: .3rem;
    background-image: linear-gradient(120deg, #2b17da 0%, #798591 100%);
}

/* Button Card CSS */

.button--card {
    width: 17.5rem;
    padding: 0 1.5rem;
    padding-top: 4.5rem;
    padding-bottom: 1.5rem;
    cursor: pointer;
    text-align: center;
    border-radius: .3rem;
    box-shadow: var(--box-shadow);
    background-image: url("../images/banner/empty-card-1.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button--card i {
    font-size: 10rem;
    color: rgba(0, 0, 0, 0.25);
}

.button--card:hover i {
    color: var(--btn-color);
}

.button--card .btn--text {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000;
}

.button--card .btn--text {
    padding: .5rem 2rem;
    text-align: center;
    border-radius: .3rem;
    background: rgba(0, 0, 0, 0.1);
}

.button--card:hover .btn--text {
    color: #ffffff;
    background: var(--btn-color);
}

/* Blank Data Card CSS */

.card--blank {
    width: 17.5rem;
    height: 31.65rem;
    padding: 0 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    border-radius: .3rem;
    box-shadow: var(--box-shadow);
    background-image: url("../images/banner/ItemNotFound.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card--blank div {
    margin-bottom: 2rem;
}

.card--blank img {
    width: 7.5rem;
    height: 7.5rem;
}

.card--blank h2 {
    margin: 1rem 0;
    font-size: 1.8rem;
    font-weight: 400;
}

.card--blank span {
    margin: 2.5rem 0;
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 400;
}

.card--blank .try--again {
    margin: 2.5rem 1.5rem;
    padding: .5rem 0;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: .5rem;
    border: 1px dotted rgb(59, 44, 16);
}

.card--blank .try--again:hover {
    cursor: pointer;
    background-color: rgba(148, 180, 182, 0.808);
}

/*                      404 Error [Page not found...]                               */

.page--not--found {
    padding-top: 15rem;
    text-align: center;
    background: #BF0026;
    background: -webkit-repeating-radial-gradient(circle farthest-corner at center center, #BF0026 0%, #E8FC35 50%);
    background: -moz-repeating-radial-gradient(circle farthest-corner at center center, #BF0026 0%, #E8FC35 50%);
    background: repeating-radial-gradient(circle farthest-corner at center center, #BF0026 0%, #E8FC35 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page--not--found .error--no {
    font-size: 8rem;
    font-weight: 500;
}

.page--not--found .error--title {
    font-size: 3.6rem;
    font-weight: 500;
    margin-top: -2.5rem;
}

.error--details {
    padding-top: 2.5rem;
    margin-left: 12%;
    background-image: radial-gradient(circle farthest-side, #aaffc1 5%, transparent);
}

.error--details h6 {
    font-size: 2rem;
    font-weight: 400;
}

.error--details p {
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}
